body {
  text-align: center;
}

.message-list {
  background-color: white;
  padding: 20px;
}
.logo{
  width:350px;
  padding-top: 40px;
  padding-bottom: 10px;
}
h1 {
  color: #36454f;
}

.post {
  margin: 10px;
  padding: 10px;
  border: 5px solid #679E02;
  border-radius: 5px;
  color: #36454f;
}

h2 {
  color: #36454f;
}

p {
  color: #36454f;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.image {
      max-width: 80%;
      margin: auto;
      padding: 10px;
      width: 600px;
  }

.topnav {
  overflow: hidden;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #679E02;
}

.topnav a {
  color: #f2f2f2 !important;
  margin-top: 20px !important;
  text-align: center !important;
  padding: 14px 16px !important;
  text-decoration: none !important;
  font-size: 17px !important;
  font-weight: 300 !important;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.hidden {
  display: none;
}

.postId {
    display: none;
}

#container {
  width: 500px;
  margin: auto;
  display: block;
  height: 500px;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 20px;
  width: 360px;
  height: 360px;
  top: 50px;
  left: 50px;
  position: absolute;
  cursor: hand;
}
.rotate-left {
  transform: rotate(30deg) scale(0.8);
  transition: 1s;
  margin-left: 400px;
  cursor: e-resize;
  opacity: 0;
  z-index: 10;
}
.rotate-right {
  transform: rotate(-30deg) scale(0.8);
  transition: 1s;
  opacity: 0;
  margin-left: -400px;
  cursor: w-resize;
  z-index: 10;
}
.avatar {
  width: 340px;
  display: block;
  margin-top: 10px;
  margin-left: 10px;
  background-size: auto 160% !important;
  background-position: center;
 background-repeat: no-repeat;
}
.like {
  border-radius: 5px;
  padding: 5px 10px;
  border: 2px solid green;
  color: green;
  text-transform: uppercase;
  font-size: 15px;
  position: absolute;
  top: 50px;
  right: 40px;
  text-shadow: none;
}
.dislike {
  border-radius: 5px;
  padding: 5px 10px;
  border: 2px solid red;
  color: red;
  text-transform: uppercase;
  font-size: 15px;
  position: absolute;
  top: 50px;
  left: 40px;
  text-shadow: none;
}


input {
    border: 1px solid green;
    background-color: white;
    color: black;
    font-size: 20px;
    margin: 10px;
    padding: 5px;
}

button {
  -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    background-color: #008CBA; /* Blue */
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}

button:hover {
  background-color: #006d91;
  color: white;
}
